.sign-up,
.log-in {
  width: 30rem;
margin: auto;
 
}
.sign-up form,
.log-in form {
  margin-top: 2rem;
  padding: 2rem;
  gap: 2rem;
  box-shadow: 0.5px 3px 20px 1px var(--color-accent-primary);
  border-radius: 1rem;
}
.sign-up form input,
.log-in form input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 1px 3px 10px 0 var(--color-accent-primary);
}

.sign-up form .btn,
.log-in form .btn {
  background-color: var(--color-accent-primary);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.75rem;
  text-align: center;
}
