.auth-form {
  display: none;
  width: 30rem;
  margin: 4rem auto;
}

.auth-form:not(.hidden) {
  display: block;
}

.auth-form form {
  margin-top: 2rem;
  padding: 2rem;
  gap: 2rem;
  border-radius: 1rem;
  border: solid 1px;
}
.auth-form span {
  color: var(--color-accent-primary);
}
.auth-form input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.toggle-link {
  color: var(--color-accent-secondary);
  font-weight: 700;
  cursor: pointer;
}
.btn {
  background-color: var(--color-accent-primary);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.75rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}
